
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 1rem;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    display: flex;
    background-image: url('hero-image.jpg');
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 2rem;
    text-align: center;
    align-content: center;
  }
.posts {
  font-size: 15px;
  font-family: monospace;
}
.top {
  font-size: 25px;
  align-content: center;
  justify-content: center;
  text-align: center;
}